@import url('https://fonts.googleapis.com/family=Realeway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Ralewey', sans-serif;
    font-weight: bold;
}

a {
    position: relative;
    display: inline-block;
    padding: 25px 35px;
    margin: 40px 0;
    color: blueviolet;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 5px;
}

a:hover {
    background: blueviolet;
    color: black ;
    box-shadow: 0 0 5px blueviolet, 
    0 0 25px blueviolet,
    0 0 50px blueviolet,
    0 0 200px blueviolet;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005)


}

