* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(84, 51, 51);

}

ul {
    background-color: rgb(255, 255, 255);
    width: 200px;
}

ul li {
    color: rgb(0, 26, 48);


}

h1 {

    color: pink;
    display: flex;
    justify-content: center;
}

#container {
    background-color: rgb(17, 23, 31);
    width: 100%;
    height:400px;

    display: flex;
    align-items: center; /*alinha verticalmente*/
    justify-content: space-evenly; /*alinha horizontalmente*/
}

.caixa {
   
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   
    width: 200px;
    height: 200px;
    border: 5px solid rgba(0, 0, 0, 0.225);
    border-radius: 100%;
    

}
    
.zulu {

    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    transition: 1s all;

    }

.zulu:hover{

transform: scale(1.2);

}
