* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(200deg, #6a11cb, #2575fc);
    gap: 50px;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: blueviolet;
}

